# ==================================================
# Technitium Server
# ==================================================

# Change to one version or leave it, your choice
TECHNITIUM_SERVER_TAG=latest

# Increase if traffic grows
TECHNITIUM_SERVER_MEM_LIMIT=256MB

# Technitium internal IP address
TECHNITIUM_SERVER_IPV4_ADDRESS=10.10.10.10
TECHNITIUM_SERVER_IPV6_ADDRESS=fd10::10:10:10

# Allow where your DNS query should come from
TECHNITIUM_SERVER_BIND_IPV4_ADDRESS=127.0.0.1
TECHNITIUM_SERVER_BIND_IPV6_ADDRESS=::1

# For local access
TECHNITIUM_CONSOLE_HTTP_BIND_PORT=127.0.0.1:5380

# Your Technitium Web Console Domain
TECHNITIUM_CONSOLE_HOST=technitium-console.example.com

# ==================================================
# Technitium Client (Just DNS Lookup, basically)
# ==================================================

# Just leave it as it is
TECHNITIUM_CLIENT_TAG=latest

# 64MB is pretty much already
TECHNITIUM_SERVER_MEM_LIMIT=64MB

# The client's internal IP address
TECHNITIUM_SERVER_IPV4_ADDRESS=10.10.0.2
TECHNITIUM_SERVER_IPV6_ADDRESS=fd10::2

# Your Technitium Client Domain
TECHNITIUM_CLIENT_HOST=technitium-client.example.com
