ZORAXY_SUBNET=10.1.0.0/16
ZORAXY_GATEWAY=10.1.0.0
SOCKET_PROXY_TAG=latest
SOCKET_MOUNT=/var/run/docker.sock
CLOUDFLARED_TAG=latest
CLOUDFLARED_TOKEN=
ZORAXY_TAG=latest
ZORAXY_WEB_PORT=127.0.0.1:8000
ZORAXY_HTTPS_PORT=127.0.0.1:443
ZORAXY_HTTP_PORT=127.0.0.1:80
ZORAXY_TIMEZONE=Etc/UTC
ZORAXY_ZEROTIER=false
ZORAXY_FASTGEOIP=false
