# ==================================================
# Network stuff
# ==================================================

# If you don't know what you're dong, just leave it as it is
TRAEFIK_IPV4_SUBNET=10.10.0.0/16
TRAEFIK_IPV4_GATEWAY=10.10.0.0
TRAEFIK_IPV6_SUBNET=fd10::/64
TRAEFIK_IPV6_GATEWAY=fd10::0


# ==================================================
# Socket Proxy
# ==================================================

# Pick your flavor
SOCKET_PROXY_TAG=1

# Limit them RAM, it shouldn't user more than this
SOCKET_PROXY_MEM_LIMIT=64MB

# Only change when setup-ing and debuging
SOCKET_PROXY_LOG_LEVEL=WARN

# //////////////////////////////////////////////////
# PAY ATTENTION, ONLY ENABLE ONE
# //////////////////////////////////////////////////

# Docker Socket if you're using docker, which you shouldn't
#SOCKET_PROXY_DOCKER_SOCKET=/var/run/docker.sock

# Docker Rootless Socket, better than rootful at least
# Remember to change the USER_ID to your actual user ID
# Tip: $(id -u)
#SOCKET_PROXY_DOCKER_SOCKET=/run/user/USER_ID/docker.sock

# Podman Rootful Socket, srly, why are you doing this
#SOCKET_PROXY_DOCKER_SOCKET=/run/podman/podman.sock

# Podman Rootless, that how it always should be
# Remember to change the USER_ID to your actual user ID
# Tip: $(id -u)
SOCKET_PROXY_DOCKER_SOCKET=/run/user/USER_ID/podman/podman.sock


# ==================================================
# Traefik hell
# ==================================================

# I like latest thing but you should lock in to one version
TRAEFIK_TAG=latest

# Increase the limit as your stack grow
TRAEFIK_MEM_LIMIT=128MB

# For local access or exposing to the net
TRAEFIK_BIND_IPV4_ADDRESS=127.0.0.1
TRAEFIK_BIND_IPV6_ADDRESS=::1

# Network stuff, must within the network subnet above
TRAEFIK_IPV4_ADDRESS=10.10.0.1
TRAEFIK_IPV6_ADDRESS=fd10::1

# Logging and stuff
TRAEFIK_LOG=true
TRAEFIK_LOG_LEVEL=WARN

# Logging but for traffic
TRAEFIK_ACCESS_LOG=true
TRAEFIK_ACCESS_LOG_STATUS_CODE=400-599

# For OpenTelemetry
TRAEFIK_METRICS_OTLP=false
TRAEFIK_METRICS_OTLP_ENDPOINT=localhost:4317

# Prometheus thing
TRAEFIK_METRICS_PROMETHEUS=false

# Tracing, idk
TRAEFIK_TRACING=false

# I don't know that this is
TRAEFIK_ALLOW_ENCODED_CHARACTERS=false

# Turn on if you like seeing ads
TRAEFIK_DISABLE_AD=true

# Telemetry (COLLECT YOUR DATA)
TRAEFIK_COLLECT_TELEMETRY=false

# //////////////////////////////////////////////////
# THIS IS THE IMPORTANT PART, BE CAREFUL
# //////////////////////////////////////////////////

# The domain of your Traefik Dashboard
TRAEFIK_DASHBOARD_HOST=traefik-dashboard.example.com

# Your list of domains for wildcard certificate
TRAEFIK_TLS_DOMAIN_NAME_0=example.com
TRAEFIK_TLS_DOMAIN_SANS_0=*.example.com

# THe email to register your certificates
TRAEFIK_ACME_EMAIL=acme-email@example.com

# Change when going live, else, stay at staging
#TRAEFIK_ACME_SERVER=https://acme-v02.api.letsencrypt.org/directory
TRAEFIK_ACME_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory

# Trusted IP Addresses/CIDRs for the Love of God
TRAEFIK_TRUSTED_IP=127.0.0.1/8,192.168.0.0/16,10.10.0.0/16,fd10::/64

# Cloudflare Dashboard > Left Panel > Manage Account
# > Manage Account (At the bottom) > Account API Token
# > Create Token > Choose these:
# - Policy: Specific Domains (Recommended) > Choose your domains
# - DNS & Zone: Choose Read and Write
# - Token expiration: Pick your poison
# - Client IP address filtering: Your server IP address/CIDR
# - Review and Create token
TRAEFIK_CF_DNS_API_TOKEN=


# ==================================================
# Cloudflare Tunnel if you want secure web access
# ==================================================

# Just choose latest or your Dashboard will scream at you (jk)
CLOUDFLARED_TAG=latest

# RAM Limit, as always
CLOUDFLARED_MEM_LIMIT=64MB

# Logging
CLOUDFLARED_LOG_LEVEL=warn

# //////////////////////////////////////////////////
# THIS IS THE IMPORTANT PART, PAY ATTENTION
# //////////////////////////////////////////////////

# Your Cloudflare Tunnel Token
# Cloudflare Dashboard > Left Panel > Manage Account
# > Networking (Near the bottom) > Tunnels
# > Create Tunnels > Name it
# > Copy the command and extract the token (the long bit)
# cloudflared tunnel run --token eyJhIjoi... <- This thing here
CLOUDFLARED_TUNNEL_TOKEN=
