# Managed by rusano-cloudlab
# Source: https://github.com/rusano-knn/rusano-lab
# Version: 1.0.0
# Updated: 2026-06-22

[Unit]
Description=Shared network for Traefik and backend services

[Network]
NetworkName=traefik
